<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	<div class="container" style="padding:50px">
	<div >
		<h1>Entry Management Software</h1>
	</div>
	<div class="container" style="padding:50px">
		<form action="/new" method="POST">
			<h2>Visitor Details</h2>
			<div class="form-group">
    			<label for="name1">Name</label>
    			<input type="text" class="form-control" id="name1" name="visitorName">
  			</div>
  			<div class="form-group">
    			<label for="Email1">Email address</label>
    			<input type="email" class="form-control" id="Email1" name="visitorEmail">
  			</div>
  			<div class="form-group">
    			<label for="number1">Phone Number</label>
    			<input type="number" class="form-control" id="number1" name="visitorContact">
  			</div>
  			<h2>Host Details</h2>
  			<div class="form-group">
    			<label for="name2">Name</label>
    			<input type="text" class="form-control" id="name2" name="hostName">
  			</div>
  			<div class="form-group">
    			<label for="Email2">Email address</label>
    			<input type="email" class="form-control" id="Email2" name="hostEmail">
  			</div>
  			<div class="form-group">
    			<label for="number2">Phone Number</label>
    			<input type="number" class="form-control" id="number2" name="hostContact">
  			</div>
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
		</div>
	</body>
</html>