<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	 <div class="container" style="padding:50px">
	  <div>
      <h1>Entry Management Software</h1>
    </div>
    <div>
      <form action="/exit" method="POST">
        <div class="form-group">
          <label for="Email1">Visitor's Contact</label>
          <input type="number" class="form-control" id="Email1" name="visitorContact">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
	 </div>
	</body>
</html>